{% extends "app_base.html" %}

{% block title %}Contacts{% endblock %}

{% block content %}

<div class="title-button pull-right">
  <a href="{% url 'contacts_add' %}" class="btn"><i class="icon-plus"></i>Add contact</a>
</div>

<h2>My contacts</h2>

<div class="row-fluid">
  {% if contacts %}
    <table class="table table-striped">
      {% for contact in contacts %}
        <tr><td><a href="/messages/{{ contact.pk }}">{{ contact.first_name }} {{ contact.last_name }}</a></td></tr>
      {% endfor %}
    </table>
  {% else %}
    <p>You don't have any contacts yet. Why don't you <a href="{% url 'contacts_add' %}">add one</a>?</p>
  {% endif %}
</div>

{% endblock %}