{% extends "base.html" %}

{% load helpers %}

{% block title %}Please sign in{% endblock %}

{% block body_content %}

<div class="container">
  <div>
    <header class="bar-title">
      <h1 class="title">TeextMe - Login</h1>
      <a class="button" href="{% url 'customregistration.views.register' %}">
        Sign up
      </a>
    </header>

    <div class="content">
      <br />
      {% if form.errors %}
      <ul class="inset list">
        <li id="item1" class="segmented-controller-item active">
          Your username and password didn't match. Please try again.
        </li>
      </ul>
      {% endif %}
      <div class="content-padded">
        <form method="post" action="{% url 'django.contrib.auth.views.login' %}">{% csrf_token %}
          {{ form.country_code|field_class:'input-block-level' }}
          {{ form.username|placeholder:'Phone Number'|field_class:'input-block-level' }}
          {{ form.password|placeholder:'Password'|field_class:'input-block-level' }}
          <!-- <label class="checkbox">
            <input type="checkbox" value="remember-me"> Remember me
          </label> -->

          <button style="display: block; width: 100%;" class="button-block button-main" type="submit">Sign in</button>
          <input type="hidden" name="next" value="{{ next }}" />
       </form>
      </div>
    </div>

  </div>
</div>

{% endblock %}
