{% verbatim %}
<div class="add-contact">
  <header class="bar-title">
    <a class="button-prev" href="#/contacts">
      Back
    </a>
    <h1 class="title">Add Contact</h1>
  </header>

  <div class="content">
    <div class="content-padded">
      <form>
        <div class="input-group">
          <div class="input-row">
            <label>First name</label>
            <input type="text" placeholder="Jack" ng-model="contact.firstName">
          </div>
          <div class="input-row">
            <label>Last name</label>
            <input type="text" placeholder="Sparrow" ng-model="contact.lastName">
          </div>
          <div class="input-row">
            <label>Phone</label>
            <input type="text" placeholder="+38612345678" ng-model="contact.phoneNumber">
          </div>
        </div>

        <a class="button button-block" ng-click="add()">Add</a>
      </form>
    </div>
  </div>

</div>
{% endverbatim %}