{% verbatim %}
<div class="contacts">
  <header class="bar-title">
    <h1 class="title">Contacts</h1>
    <a class="button" href="#/contacts/add"><i class="icon-plus"></i></a>
  </header>

  <mainnav active="contacts"></mainnav>

  <div class="content">
    <ul class="list">
      <li ng-repeat="contact in contacts">
        <a href="#/contacts/{{ contact.id }}/messages">
          <strong>{{ contact.first_name }} {{ contact.last_name }}</strong>
          <span class="chevron"></span>
        </a>
      </li>
      <li ng-show="loaded && !contacts.length">
        <a href="#/contacts/add">
          <strong>Welcome to TeextMe! Start by adding new contact!</strong>
          <span class="chevron"></span>
        </a>
      </li>
    </ul>
  </div>
</div>
{% endverbatim %}