{% verbatim %}
<div class="messages">
  <header class="bar-title">
    <h1 class="title">TeextMe</h1>
  </header>

  <mainnav active="messages"></mainnav>

  <div class="content">
    <ul class="list">
      <li ng-repeat="message in messages">
        <a href="#/contacts/{{ message.contact }}/messages?back=messages">
          <p class="message-author"><strong>{{ message.sender_name }}</strong></p>
          <p class="message-content">{{ message.message }}</p>
          <span class="chevron"></span>
        </a>
      </li>
      <li ng-show="loaded && !messages.length">
        <strong>No messages yet.</strong>
      </li>
    </ul>
  </div>
</div>
{% endverbatim %}