<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>TeextMe</title>

    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">

    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <link rel="stylesheet" href="/static/css/ratchet.css" type="text/css" charset="utf-8">
    <link rel="stylesheet" href="/static/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/jquery.jqplot.min.css">
    <link rel="stylesheet" href="/static/css/app.css" type="text/css" charset="utf-8">

    <!-- <script src="/static/js/ratchet.js" type="text/javascript"></script> -->

    <script type="text/javascript">
      var USER = '{{ request.user.username }}';
    </script>
  </head>
  <body ng-app="tm">
    <div class="container" ng-view></div>

    <script type='text/ng-template' id="messages.html">{% include "partials/messages.html" %}</script>
    <script type='text/ng-template' id="contacts.html">{% include "partials/contacts.html" %}</script>
    <script type='text/ng-template' id="add_contact.html">{% include "partials/add_contact.html" %}</script>
    <script type='text/ng-template' id="contact_messages.html">{% include "partials/contact_messages.html" %}</script>
    <script type='text/ng-template' id="stats.html">{% include "partials/stats.html" %}</script>
    <script type='text/ng-template' id="mainnav.html">{% include "partials/mainnav.html" %}</script>

    <script src="/static/js/jquery.js" type="text/javascript"></script>
    <script src="/static/js/angular/angular.js" type="text/javascript"></script>
    <script src="/static/js/angular/angular-resource.js" type="text/javascript"></script>
    <script src="/static/js/angular/angular-cookies.js" type="text/javascript"></script>
    <script src="/static/js/lodash.min.js" type="text/javascript"></script>
    <script src="/static/js/jqplot/jquery.jqplot.min.js" type="text/javascript"></script>
    <script src="/static/js/jqplot/jqplot.barRenderer.min.js" type="text/javascript"></script>
    <script src="/static/js/jqplot/jqplot.dateAxisRenderer.min.js" type="text/javascript"></script>
    <script src="/static/js/app.js" type="text/javascript"></script>
  </body>
</html>
